.conclusion {
  width: 320px;

  .conclusion__slogan {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 214%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
}
