.form__contacts {
  width: 320px;
  border: none;

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: $--pink-color;
  }

  input {
    width: 230px;
    height: 59px;
    left: 22px;
    top: 443px;

    border: 2px solid #e5e5e5;
    border-radius: 1px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 0 23px;

    color: $--dark-font-color;
  }
}
