.form {
  .form__button {
    width: 276px;
    height: 59px;
    left: 22px;
    top: 2330px;

    background: $--button-color--success;
    border: 2px solid $--button-color--success;
    border-radius: 1px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    color: #ffffff;
  }
}
