.intro {
  background-image: url("../../img/back-mobile.png");
  top: 0;
  padding-top: 66px;
  height: 396px;
  width: 100%;

  .intro__wrapper {
    display: flex;
    flex-direction: column;

    .intro__slogan {
      font-family: "Open Sans Light", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;
      align-items: center;
      text-align: center;
    }

    .intro__phone {
      position: absolute;
      margin-top: 110px;
    }

    .intro__screen {
      position: absolute;
      margin-top: 142px;
      margin-left: 104px;
    }
  }
}
