.photo-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  .photo-slogan__text {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 214%;
    text-align: center;
  }
}
