.reviews {
  width: 320px;

  &__author-name {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-align: center;
  }

  &__text {
    text-align: center;
    line-height: 29px;
  }

  &__toggles {
    display: flex;
    justify-content: center;
  }
}
