.slogan {
  width: 320px;

  .slogan__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $--dark-font-color;
    margin: 46px 20px;

    .slogan__question {
      font-family: "Open Sans Light", "Arial", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
    }

    .slogan__answer {
      font-family: "Open Sans Light", "Arial", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
}
